In [7]:
# This code helps check asssignment data

import pandas as pd
from collections import namedtuple
from dataclasses import dataclass

InformationUnit = namedtuple('InformationUnit', ['name', 'size'])
DataItem = namedtuple('DataItem', ['name', 'size', 'unit'])
LatencyItem = namedtuple('LatencyItem', ['name', 'time', 'unit', 'explanation'])

information_units = dict(
    B=InformationUnit("byte", 1),
    KB=InformationUnit("kilobyte", 1e3),
    MB=InformationUnit("megabyte", 1e6),
    GB=InformationUnit("gigabyte", 1e9),
    TB=InformationUnit("terabyte", 1e12),
    PB=InformationUnit("petabyte", 1e15),
    EB=InformationUnit("exabyte", 1e18),
    ZB=InformationUnit("zettabyte", 1e21),
    YB=InformationUnit("yottabyte", 1e24)
)

time_units = {
    "ms": "millisecond",
    "s": "second",
    "min": "minute"
}

def check_data_items(items):
    # Checks to see if data sizes and units are filled out correctly
    for item in items:
        assert item.size > 0, 'Size for "{}" should be greater than zero'.format(item.name)
        assert item.unit in information_units, 'Unit "{}" not in units dictionary'.format(item.unit)
        
def check_latency_items(items):
    # Checks to see if time sizes and units are filled out correctly
    for item in items:
        # assert item.time > 0, 'Time for "{}" should be greater than zero'.format(item.name)
        assert item.unit in time_units, 'Unit "{}" not in time units dictionary'.format(item.unit)
        assert item.explanation != "FILL IN THE EXPLANATION HERE", 'Fill in explanation for "{}"'.format(item.name)

In [8]:
# TODO: Fill in the estimated sizes for each item
# You may need to adjust the units as well

items1_1 = [
    DataItem('1 Byte', 1, 'B'),
    DataItem("128 character message", 128, "B"),
    DataItem("1024x768 PNG image", 2.25, "MB"),#(1024 * 768 * 24)/(8 * 1024)=kb
    DataItem("1024x768 RAW image", 1.5, "MB"),#(1024 * 768 * 16)/(8 * 1024)=kb
    DataItem("HD (1080p) HEVC Video (15 minutes)", 100, "MB"),
    DataItem("HD (1080p) Uncompressed Video (15 minutes)", 250, "MB"),
    DataItem("4K UHD HEVC Video (15 minutes)", 225, "MB"),
    DataItem("4k UHD Uncompressed Video (15 minutes)", 575, "MB"),
    DataItem("Human Genome (Uncompressed)", 1, "GB"),
]

# Checks if items properly updated
check_data_items(items1_1)
    
df1_1 = pd.DataFrame(items1_1)
df1_1.style.hide_index()

In [9]:
# TODO: Fill in the estimated sizes for each item
# You may need to adjust the units as well

items1_2 = [
    DataItem("Daily Twitter Tweets (Uncompressed)", 64, "GB"),
    DataItem("Daily Twitter Tweets (Snappy Compressed)", 102.4, "TB"),#"files are anywhere from 20% to 100% bigger" took avg og 60%
    DataItem("Daily Instagram Photos", 132, "TB"),
    DataItem("Daily YouTube Videos", 3032, "TB"),
    DataItem("Yearly Twitter Tweets (Uncompressed)", 4.032, "PB"),
    DataItem("Yearly Twitter Tweets (Snappy Compressed)", .36, "PB"),
    DataItem("Yearly Instagram Photos", 47.52, "PB"),
    DataItem("Yearly YouTube Videos", 1091.52, "PB"),
]

# Checks if items properly updated
check_data_items(items1_2)

df1_2 = pd.DataFrame(items1_2)
df1_2.style.hide_index()

In [10]:
# TODO: Provide explanations for how you arrived at each estimation

los_angeles_to_amsterdam_explanation = """
The average distance for LA to amsterdam is 5551 miles. Light, traveling at 186,000 miles per second would make a 
single trip in 29.8 ms. A ping, is the round-trip response time for messages to go and come back 
from a destination, and is usually measured in milliseconds. The answer would be approximately twice 29.8 times 1000 or 59.7 ms.
"""
low_earth_orbit_satellite_explanation = """
This distance is at an average distance of 500 miles. Light, traveling at 186,000 miles per second would make a 
single trip in 2.68 ms. A ping, is the round-trip response time for messages to go and come back 
from a destination, and is usually measured in milliseconds. The answer would be approximately twice 2.68 ms, 5.4 ms.
"""
geostationary_satellite_explanation = """
This distance is at an average distance of 22,240 miles. Light, traveling at 186,000 miles per second would make a 
single trip in 119.6 ms. A ping, is the round-trip response time for messages to go and come back 
from a destination, and is usually measured in milliseconds. The answer would be approximately twice 119.6 ms, 239 ms.
"""
earth_to_the_moon_explanation = """
The moon is at an average distance of 240,000 miles from Earth. Light, traveling at 186,000 miles per second would make a 
single trip from Earth to the moon in 1.29 seconds. A ping, is the round-trip response time for messages to go and come back 
from a destination, and is usually measured in milliseconds. The answer would be approximately twice 1.29 times 1000, or 2.6 s.
"""
earth_to_mars_explanation = """
Mars is at an average distance of 51 million miles from Earth. Light, traveling at 186,000 miles per second would make a 
single trip from Earth to mars in 4.6 minutes. A ping, is the round-trip response time for messages to go and come back 
from a destination, and is usually measured in milliseconds. The answer would be approximately twice 4.6 min, 9.2 min.
"""

# TODO: Fill in the estimated times for each item

items1_3 = [
    LatencyItem(
        "Los Angeles to Amsterdam",
        59.7,
        "ms",
        los_angeles_to_amsterdam_explanation.strip()
    ),
    LatencyItem(
        "Low Earth Orbit Satellite",
        5.4,
        "ms",
        low_earth_orbit_satellite_explanation.strip()
    ),
    LatencyItem(
        "Geostationary Satellite",
        239,
        "ms",
        geostationary_satellite_explanation.strip()
    ),
    LatencyItem(
        "Earth to the Moon",
        2.58,
        "s",
        earth_to_the_moon_explanation.strip()
    ),
    LatencyItem(
        "Earth to Mars",
        9.2,
        "min",
        earth_to_mars_explanation.strip()
    ),
]

# Checks if items properly updated
check_latency_items(items1_3)

df1_3 = pd.DataFrame(items1_3)
df1_3.style.hide_index()